.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.search-bar {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
}

input[type="search"] {
  flex: 1;
  padding: 8px;
  border: none;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #f9f9f9;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
