.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #151f30;
  }
  
  .search-container {
    flex-grow: 1;
    margin-right: 10px;
  }
  
